@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after,
*:focus,
*:active {
  box-sizing: border-box;
  border: none;
}

ul,
li,
a {
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/**
         Убираем внутренние отступы слева тегам списков,
         у которых есть атрибут class
        */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
         Убираем внешние отступы body и двум другим тегам,
         у которых есть атрибут class
        */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
         Убираем внешние отступы вертикали нужным тегам,
         у которых есть атрибут class
        */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
         Убираем стандартный маркер маркированному списку,
         у которого есть атрибут class
        */
:where(ul[class]) {
  list-style: none;
}

/**
         Обнуляем вертикальные внешние отступы параграфа,
         объявляем локальную переменную для внешнего отступа вниз,
         чтобы избежать взаимодействие с более сложным селектором
        */
/**
         Внешний отступ вниз для параграфа без атрибута class,
         который расположен не последним среди своих соседних элементов
        */
/**
         Упрощаем работу с изображениями
        */
img {
  display: block;
  max-width: 100%;
}

/**
         Наследуем свойства шрифт для полей ввода
        */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  height: 100%;
  /**
           Плавный скролл
          */
  scroll-behavior: smooth;
}

body {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  min-height: 100%;
  /**
           Унифицированный интерлиньяж
          */
  line-height: 1.5;
}

/**
         Приводим к единому цвету svg-элементы
        */
svg *[stroke] {
  stroke: currentColor;
}

/**
         Чиним баг задержки смены цвета при взаимодействии с svg-элементами
        */
svg * {
  transition-property: fill, stroke;
}

/**
         Удаляем все анимации и переходы для людей,
         которые предпочитают их не использовать
        */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
}

.btn,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: "titleFont";
  src: url("./../../fonts/AnyConv.com__DMSans-Medium.woff2") format("woff2"), url("./../../fonts/AnyConv.com__DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "titleAnyFont";
  src: url("./../../fonts/AnyConv.com__DMSans-Bold.woff2") format("woff2"), url("../../../fonts/AnyConv.com__DMSans-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "textFont";
  src: url("./../../fonts/AnyConv.com__DMSans-Regular.woff2") format("woff2"), url("./../../fonts/AnyConv.com__DMSans-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: var(--text-font);
  color: var(--color-dark);
  font-size: var(--text-size);
  height: 100vh;
}

h1 {
  font-family: var(--title-font);
  font-size: var(--title-size);
}

h3 {
  font-family: var(--title-any-font);
  font-size: var(--title-any-size);
}

.container {
  max-width: 1410px;
  padding-inline: 15px;
  margin-inline: auto;
}

:root {
  --color-light: #fff;
  --color-green: #3d923a;
  --color-blue: #405ff2;
  --color-dark: #050b20;
  --title-size: 70px;
  --title-any-size: 40px;
  --text-size: 15px;
  --title-font: "titleFont", sans-serif;
  --title-any-font: "titleAnyFont", sans-serif;
  --text-font: "textFont", sans-serif;
  --header-padding: 60px;
}

.header__main-swiper {
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover !important;
  height: 960px !important;
}

.header {
  color: var(--color-light);
  position: relative;
}
.header__top {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 30px var(--header-padding) 30px var(--header-padding);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.header__top-title {
  font-size: 26px;
  font-weight: 700;
}
.header__top-button {
  color: var(--color-light);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px 26px;
  border-radius: 15px;
  transition: all 0.3s;
}
.header__top-button:disabled {
  cursor: unset;
  background: white;
  color: black;
}
@media (hover: hover) {
  .header__top-button:hover {
    background: white;
    color: black;
  }
}
@media (hover: none) {
  .header__top-button:active {
    background: white;
    color: black;
  }
}
.header__main-swiper {
  display: flex !important;
  align-items: center;
  justify-content: start;
}
.header__main-info {
  top: 5%;
  position: relative;
  left: 12%;
}
.header__main-price {
  font-size: var(--title-any-size);
}
.header__main-function {
  display: flex;
  gap: 40px;
}
.header__main-function__box, .header__main-function__speed {
  display: flex;
  gap: 5px;
}
.header__main-name {
  font-size: var(--title-size);
}
.header__main-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px 15px 30px;
  background-color: var(--color-light);
  border-radius: 16px;
  margin-top: 40px;
  transition: hover 0.2s;
}
@media (hover: hover) {
  .header__main-btn:hover {
    transform: scale(1.03);
  }
}
@media (hover: none) {
  .header__main-btn:active {
    transform: scale(1.03);
  }
}
.header__swiper-btns {
  position: absolute;
  top: 50%;
  z-index: 100;
  padding-inline: var(--header-padding);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.header__custom-prev, .header__custom-next {
  background-color: var(--color-light);
  padding: 15px 26px;
  border-radius: 30px;
}
.header__custom-prev:disabled, .header__custom-next:disabled {
  opacity: 0.5;
  cursor: unset;
}

.header__loading-wrapper {
  width: 100%;
  height: 960px;
  background-color: #f5f5f5;
  z-index: 1000;
  background: linear-gradient(90deg, #f0f0f0 25%, #e8e8e8 37%, #f0f0f0 63%);
  background-size: 400% 100%;
  animation: shimmer 6s linear infinite;
  position: relative;
  overflow: hidden;
}

.header__top-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__top-buttons__image {
  width: 39px;
}

.type {
  padding-top: 115px;
}
.type__cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  border: 1px solid rgb(233, 233, 233);
  padding-block: 40px;
  border-radius: 35px;
}
@media (hover: hover) {
  .type__cart:hover .type__cart-image {
    transform: scale(1.15);
  }
}
@media (hover: none) {
  .type__cart:active .type__cart-image {
    transform: scale(1.15);
  }
}
.type__wrapper {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 130px;
}
.type__cart-image {
  padding: 18px;
  background-color: #f9fbfc;
  border-radius: 50%;
}

.title__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.title__header-link {
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 7px;
}

.all {
  background-color: #f9fbfc;
  padding-block: 115px;
}
.all__choice {
  display: flex;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.all__choise-recent, .all__choise-popular {
  font-weight: 300;
  font-family: var(--text-font);
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
}
@media (hover: hover) {
  .all__choise-recent:hover, .all__choise-popular:hover {
    border-bottom: 2px solid var(--color-blue);
  }
}
@media (hover: none) {
  .all__choise-recent:active, .all__choise-popular:active {
    border-bottom: 2px solid var(--color-blue);
  }
}
.all__choise-popular {
  padding-inline: 30px;
}
.all__active {
  border-bottom: 2px solid var(--color-blue);
}

.all__cart-wrapper,
.skeleton-wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.cart {
  max-width: 320px;
  border-radius: 30px;
}
.cart__modal-title {
  font-size: 32px;
  padding-bottom: 20px;
}
.cart__modal-image {
  border-radius: 15px;
}
.cart__modal-info {
  padding-top: 15px;
  font-size: 22px;
  line-height: 1.5;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.cart__modal-info__strong {
  font-weight: 700;
}
.cart__modal-acc {
  padding-top: 15px;
  font-size: 18px;
}
.cart__modal-price {
  padding-top: 30px;
  font-size: 35px;
}
.cart__header {
  position: relative;
  border-radius: 30px;
}
.cart__header-image {
  border-radius: 17px 17px 0 0;
  height: 200px;
  width: 320px;
}
.cart__header span {
  position: absolute;
  top: 0;
}
.cart__footer {
  background-color: var(--color-light);
  border-radius: 0 0 17px 17px;
  padding: 17px 30px 30px 30px;
}
.cart__footer-info {
  border-bottom: 1px solid rgb(233, 233, 233);
}
.cart__footer-info__description {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Укажите желаемую ширину */
}
.cart__footer-info__name {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.cart__footer-equipment {
  display: flex;
  flex-direction: column;
}
.cart__footer-equipment__list {
  padding-block: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.cart__footer-equipment__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cart__footer-price {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  align-items: center;
}
.cart__footer-price__title {
  font-size: 20px;
}
.cart__footer-open {
  color: var(--color-blue);
  display: flex;
  align-items: center;
  gap: 7px;
}

.ant-btn {
  font-size: 18px;
  padding: 20px 15px;
  margin-inline-start: 12px !important;
}

.cart__modal-btns {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 15px;
}
.cart__modal-cancel, .cart__modal-add {
  padding: 8px 20px;
  border-radius: 10px;
}
.cart__modal-cancel {
  border: 1px solid #a3a3a3;
}
.cart__modal-add {
  background-color: var(--color-blue);
  color: var(--color-light);
}

.choise__person {
  display: flex;
  padding-block: 115px;
  align-items: center;
  justify-content: space-between;
}
.choise__title {
  max-width: 400px;
}
.choise__us-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.choise__us-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.choise__us-image {
  max-width: 60px;
  max-height: 60px;
}

.finding {
  background-image: url(./../src/components/Finding/Image/Background.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  color: var(--color-light);
  margin-top: 115px;
}
.finding__info {
  position: relative;
  top: 25%;
}
.finding__title {
  font-weight: 300;
  max-width: 700px;
}
.finding__button {
  margin-top: 20px;
  color: var(--color-light);
  padding: 15px 75px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
@media (hover: hover) {
  .finding__button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .finding__button:active {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color-dark);
  }
}

.skeleton-card {
  width: 100%;
  height: 427px;
  border-radius: 20px;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 37%, #eeeeee 63%);
  background-size: 400% 100%;
  animation: shimmer 6s linear infinite;
  position: relative;
  overflow: hidden;
}

@keyframes shimmer {
  0% {
    background-position: -400% 0;
  }
  100% {
    background-position: 400% 0;
  }
}
.basket__cart-buy {
  padding: 10px 15px;
  font-size: 20px;
  background-color: var(--color-green);
  border-radius: 12px;
  color: var(--color-light);
}
.basket ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.basket__header {
  padding-top: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.basket__cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.basket__main {
  border-top: 1px solid gray;
  padding-top: 50px;
}
.basket__back-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: var(--color-blue);
}
.basket__cart-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #b4a0a0;
  align-items: center;
  padding-right: 20px;
}
.basket__cart-image {
  max-width: 400px;
}
.basket__cart-name {
  position: relative;
  font-size: 22px;
  height: 100%;
}
.basket__cart-price {
  font-size: 24px;
}
.basket__cart-del {
  color: red;
  font-size: 18px;
}
.basket__cart-total {
  font-size: 20px;
  font-weight: 700;
}

.found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}
.found__back {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 9px;
  top: 50px;
  left: 45%;
  font-size: 20px;
}
.found__container {
  text-align: center;
  background-color: #eb4c42;
  padding: 75px 100px;
  color: rgba(255, 250, 250, 0.8352941176);
  border-radius: 20px;
}
.found__info {
  font-size: 20px;
}

.border-anim {
  position: absolute;
  top: 79px;
  left: 52%;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #007bff, #00ffff);
  transform: translateX(-50%);
  animation: borderWave 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 2px;
}

@keyframes borderWave {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 100px;
    opacity: 1;
  }
  50% {
    width: 180px;
    opacity: 1;
  }
  75% {
    width: 300px;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */