.cart {
  max-width: 320px;
  border-radius: 30px;

  &__modal-title {
    font-size: 32px;
    padding-bottom: 20px;
  }

  &__modal-image {
    border-radius: 15px;
  }

  &__modal-info {
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    &__strong {
      font-weight: 700;
    }
  }

  &__modal-acc {
    padding-top: 15px;
    font-size: 18px;
  }

  &__modal-price {
    padding-top: 30px;
    font-size: 35px;
  }

  &__header {
    position: relative;
    border-radius: 30px;

    &-image {
      border-radius: 17px 17px 0 0;
      height: 200px;
      width: 320px;
    }
    span {
      position: absolute;
      top: 0;
    }
  }

  &__footer {
    background-color: var(--color-light);
    border-radius: 0 0 17px 17px;
    padding: 17px 30px 30px 30px;
  }

  &__footer-info {
    border-bottom: 1px solid rgb(233, 233, 233);
    &__description {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%; /* Укажите желаемую ширину */
    }
    &__name {
      font-size: 18px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &__footer-equipment {
    display: flex;
    flex-direction: column;
    &__list {
      padding-block: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(233, 233, 233);
    }
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__footer-price {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    align-items: center;
    &__title {
      font-size: 20px;
    }
  }

  &__footer-open {
    color: var(--color-blue);
    display: flex;
    align-items: center;
    gap: 7px;
  }
}
.ant-btn {
  font-size: 18px;
  padding: 20px 15px;
  margin-inline-start: 12px !important;
}
.cart {
  &__modal-btns {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
  }
  &__modal-cancel,
  &__modal-add {
    padding: 8px 20px;
    border-radius: 10px;
  }
  &__modal-cancel {
    border: 1px solid #a3a3a3;
  }

  &__modal-add {
    background-color: var(--color-blue);
    color: var(--color-light);
  }
}
