:root {
  --color-light: #fff;
  --color-green: #3d923a;
  --color-blue: #405ff2;
  --color-dark: #050b20;

  --title-size: 70px;
  --title-any-size: 40px;
  --text-size: 15px;

  --title-font: "titleFont", sans-serif;
  --title-any-font: "titleAnyFont", sans-serif;
  --text-font: "textFont", sans-serif;
}
